    :root {
        --white_filter : invert(100%) sepia(100%) saturate(0%) hue-rotate(135deg) brightness(104%) contrast(101%)
    }
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    font-family: "Roboto";
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  html, body {
    height: 100%;
  }

  .main-body {
    border: 1px solid red;
  }

  .container {
    display: grid;
    min-height: 100%;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: minmax(1fr,200px) minmax(3fr,600px); */
    grid-template-rows: 175px 3fr;
  }

  .sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    padding: 14px;
    row-gap: 60px;
    background-color: #1991d2;
    color: white;
    align-content: start;
    /* align-items: center; */
  }

  .sidebar > * {
    align-items: center;
  }

  .sidebar .dashboard {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 8px;
    /* align-items: start; */
    /* align-self: start; */

    padding-top: 6px;
  }

  .sidebar > * .dash-tile {
    display: grid;
    grid-template-columns: 50px 1fr;
    /* border: 1px solid red; */
    font-size: 1.2em;
    font-weight: 500;
  }

  .sidebar > * .dash-tile img {
    max-height: 25px;
    max-width: 25px;
    filter: var(--white_filter);
    align-self: center;
  }

  .dashboard .image {
    filter: var(--white_filter);
  }

  .dashboard > .image + p {
    font-weight:700;
    font-size: 1.5em;
    color: white;
  }

  .utilities, .settings {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    row-gap: 15px;
  }

  


/* ************************************************************************** */


  .navbar {
    grid-area: 1 / 2 / 2 / 3;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 50px 1fr 80px;
    grid-template-rows: 1fr 2fr;
    /* padding-left: 0px; */
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar > .search-section + .profile-section {
    /* border: 1px solid blue; */
  }

  .navbar .search-section .user img {
    height: 30px;
    width: 30px;
  }

  .navbar .search-section .search-bar .icon img {
    height: 20px;
    width: 20px;
  }

  .navbar .search-section {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 250px;
    justify-content: space-between;
    /* justify-content: space-between; */
    /* padding: 5px; */
    column-gap: 80px; 
  }

  .search-section .search-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
    /* padding-left: 20px; */
    /* justify-items: center; */
    align-items: center;
  }

  .search-section .icon {
    justify-self: end;
  }

  .search-bar #bar {
    min-width: 100%;
  }

  .search-bar #bar input[type="search"] {
    border-radius: 15px;
    min-width: 100%;
    border-style: none;
    background-color: #e2e8f0;
    padding-left: 10px;
  }

  .search-bar #bar {
    justify-self: stretch;
    min-width: 100%;
  }

  .search-section .user {
    display: grid;
    grid-template-columns: auto;
    justify-self: space-even;
    justify-items: center;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 3px;
    /* align-content: center; */
    /* padding-right: 40px; */
  }

  .search-section .user .user_name {
    font-weight: 800;
    font-size: 1.1em;
  }

  .user .user_icon {
    display: grid;
    
    align-self: center;
    justify-self: center;


    height: 50px;
    width: 50px;

    align-items: center;
    justify-items: center;
    border-radius: 50%;
    background-color: #facc15;
  }

  .user_icon img {
    min-height: 80%;
    min-width: 80%;
  }



  .navbar .profile-section {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-columns: repeat(2,1fr);
  }

  

  .profile-section .profile-interact {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-items: center;
    column-gap: 20px;
  }

  .profile-interact .user-icon {
    display: grid;
    background-color: #facc15;
    height: 70px;
    width: 80px;
    justify-items: center;
    align-items: center;
    border-radius: 100%;
  }

  .user-icon img {
    max-height: 80%;
    max-width: 80%;
  }

  .profile-interact .user-desc {
    font-weight: 600;
    font-size: 18px;
  }

  .user-desc > p:first-child {
    font-size: 14px;
  }

  .navbar .profile-section .user-interact {
    display: grid;
    grid-template-columns: repeat(3,auto);
    align-items: center;
    justify-content: end;
    align-content: center;
    justify-items: center;
    column-gap: 28px;
    /* padding-right: 10px; */
  }

  .user-interact button {
    background-color: #1992d4;
    min-width: 90px;
    padding: 7px 0px;
    font-family: "Roboto";
    color: white;
    font-weight: 500;
    border: 1px solid #1992d4;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
  }


  


/* ************************************************************************** */
  .main-body {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns:  30px 4fr 1.6fr 40px;
    background-color: #e2e8f0;
    column-gap: 25px;
  }

  .main-body .activity-body {
    display: grid;
    grid-template-rows: 50px 1fr;
    row-gap: 10px;
    grid-column: 2 / 3;
  }

  .main-title {
    display: grid;
    align-content: end;
    margin-left: -1;
  }

  .main-title > p {
    font-weight: 700;
    font-size: 18px;
  }

  .activity-body .activities {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-columns: repeat(auto-fill, minmax(230px,1fr));
    gap: 20px;
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
  }

  .activities .card {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(90px, auto) 30px;
    background-color: white;
    border-left: 8px solid #f0b429;
    padding: 12px 15px;
    /* translate: (0px, -30px); */
    padding-bottom: 25px;
    border-radius: 7px;
    /* align-content: space-between; */
  }

  .card .card-content {
    display: grid;
    grid-template-rows: 25px 1fr;
    align-content: center;
    align-self: center;
  }

  .card .card-content > p:first-child {
    font-weight: 700;
    font-size: 1em;
  }

  .card .card-content > p + p {
    font-weight: 400;
    font-size: 14px;
    word-wrap:break-word;
    overflow: hidden;
    color: #636363
  }

  .card .card-icons {
    display: grid;
    grid-auto-flow: column;
    align-self: flex-end;
    align-content: end;
    justify-content: end;
    column-gap: 20px;
  }

  .card .card-icons > * {
    height: 26px;
    width: 26px;
  }


  /* ************************************ */

  .main-body .update-body {
    grid-area: 1 / 3 / 2 / 4; 

    display: grid;
    grid-template-rows: 350px 1fr;
    /* row-gap: 20px; */
  }

  .update-body .announcement-body {
    
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 50px 1fr;
    row-gap: 10px;
    

  }

  .announcement-body .announcements {
    box-sizing: border-box;
    display: grid;
    
    border: 1px solid white;
    padding: 25px 25px;
    background-color: white;
    grid-template-rows: max-content;

    border-radius: 5px;

    /* border-bottom: 1px solid black; */
  }

  .announcements .ann-card {
    padding: 10px;
    border-bottom: 1px solid #636363;
  }

  .ann-card:first-child {
    padding-top: 2px;
  }

  .ann-card:last-child {
    border: none;
  }

  .announcements .ann-card > .ann-title {
    font-weight: 700;
    font-size: 14px;
  }

  .announcements .ann-card > .ann-content {
    font-weight: 400;
    color: #636363;
    font-size: 12px;
  }








  .update-body .trend-body {
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: 50px 1fr;
    row-gap: 10px;
  }



